{{#primary_author}}

<section class="media author-card">
  <figure class="media-left">
    <p class="image is-64x64 is-rounded">
      <a href="{{website}}">
        {{#if profile_image}}
            <img class="author-profile-image is-rounded" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
        {{else}}
            <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
        {{/if}}
        </a>
    </p>
  </figure>

  <div class="media-content">
    <div class="content">
      <h4 class="author-card-name">{{name}}</h4>
      {{#if bio}}
          {{bio}}
      {{else}}
          Read <a href="{{url}}">more posts</a> by this author.
      {{/if}}
    </div>
  </div>
</section>

{{/primary_author}}
