
<section class="media author-card">
  {{#primary_author}}
    <div class="media-left author-media">
      {{> "author-avatar"}}
    </div>

    <div class="media-content author-media">
      <div class="content">
        <h4 class="author-card-name">{{name}}</h4>
        {{#if bio}}
            {{bio}}
        {{else}}
            Read <a href="{{url}}">more posts</a> by this author.
        {{/if}}
      </div>
    </div>

  {{/primary_author}}
  {{#is "post"}}
    {{#if @config.use_applause}}
    <div class="media-right author-media">
      <applause-button url="{{@site.url}}{{url}}" style="width: 58px; height: 58px;"/>
    </div>
    {{/if}}
  {{/is}}
</section>
