<header>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{@site.url}}">
        {{#if @site.logo}}
          <img src="{{@site.logo}}" height="28"/>
        {{else}}
          <b>{{@blog.title}}</b>
        {{/if}}
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-links">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-links">
      <div class="navbar-start">
        {{#if @blog.navigation}}
            {{navigation internal=true}}
        {{/if}}
      </div>
      <div class="navbar-end">
        {{#if @blog.navigation}}
            {{navigation internal=false}}
        {{/if}}
      </div>
    </div>
  </nav>

  <section class="hero is-info" {{#if @site.cover_image}}
    style="background-image: url({{@site.cover_image}}); background-position: center center;"
    {{/if}}>
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{@site.title}}
        </h1>
        <h2 class="subtitle">
          {{@site.description}}
        </h2>
      </div>
    </div>
  </section>
</header>

<script>
/* Populate mobile navbar: https://bulma.io/documentation/components/navbar/ */
document.addEventListener('DOMContentLoaded', () => {

  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  if ($navbarBurgers.length > 0) {

    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        const target = el.dataset.target;
        const $target = document.getElementById(target);

        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
