<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}">
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{> "site-header"}}

    <section class="section">
      {{{body}}}
    </section>

    {{> "site-footer"}}

    {{!-- Email subscribe form at the bottom of the page --}}
    {{#if @labs.subscribers}}
      {{> "subscribe-modal"}}
    {{/if}}

    {{ghost_foot}}

    <script src="{{asset "js/navigation.js"}}"></script>
    <script src="{{asset "js/modals.js"}}"></script>
  </body>
</html>
