<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "built/app.css"}}">
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{> "site-header"}}

    <section class="section">
      {{{body}}}
    </section>

    {{> "site-footer"}}

    {{!-- Email subscribe form at the bottom of the page --}}
    {{#if @labs.subscribers}}
      {{> "subscribe-modal"}}
    {{/if}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    {{ghost_foot}}
    {{#if @config.use_applause}}
      <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
    {{/if}}
    {{#if @config.use_commento}}
      <script src="https://cdn.commento.io/js/commento.js" data-auto-init="false"></script>
      <script>
        if (!window.disableCommento) {
          window.commento.main();
        }
      </script>
    {{/if}}
    <script src="{{asset "lib/highlight.pack.js"}}"></script>
    <script src="{{asset "built/app.js"}}"></script>
  </body>
</html>
